<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating New Form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="b ">
    <form style="margin-top: 100px;" >
        <textarea rows="20" cols="80" placeholder="Write your post" name="content" id=""></textarea><br>
        <button>Submite Post</button>
    </form>
</body>
</html>